html, body {
  height: 70%;
  margin = 0;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  width: 100%;
  color: white;
}

body {
  font-family: "Walkway", sans-serif;
  background-image: url("background.jpg");
  background-position: center top;
  background-size: cover;
  color: white;
}

.page-title {
  text-align: center center;
  font-weight: 330;
  color: white;
}

.page-description {
  text-align: center center;
  color: white;
}

.head {
  padding: 110px 0;
	margin: 30px;
}
}
