html, body {
  height: 70%;
  margin = 0;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  width: 100%;
  color: white;
}

body {
  font-family: 'Walkway', sans-serif;
  background-image: url("background.jpg");
  background-position: center top;
  background-size: cover;
  color: white;
}

.page-title {
  text-align: center center;
  font-weight: 100;
  color: white;
}

.page-description {
  text-align: center center;
  color: white;
}

.head {
  padding: 250px 0;
	margin: 30px;
}

.button {
    background-color: white; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: rgb(255,255,255,0.0);
    color: black;
    border: 2px solid white;
}

.button1:hover {
    background-color: rgb(255,255,255,0.0);
    color: white;
}
}
